
/* Estilos */
body {
    font-family: Comic Sans MS, sans-serif;
    background-color: #22a822;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    text-align: center;
    background-color: #01ff888e;
    color: rgb(0, 0, 0);
    padding: 20px;
}

/*logo*/
.header {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-content: center;
    overflow: hidden; 
}
.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Menú */
nav ul {
    list-style: none;
    background-color: #1c720b;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #000000;
}

/* Secciones */
section {
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
/*map*/
.historia {
    display: flex;
    gap: 10px;
    justify-content: left ;
    flex-wrap: wrap;
}
.historia img {
    width: 500px;
    border-radius: 10px;
}

/*localida*/
.localidades {
    display: flex;
    gap: 10px;
    justify-content: center ;
    flex-wrap: wrap;
}
.localidades img {
    width: 400px;
    border-radius: 10px;
}
/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #8ff739;
    color: rgb(255, 255, 255);
}
td, th {
    border: 1px solid #b6fb9a;
    text-align: center;
}

/* Galería */
.galeria {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.galeria img {
    width: 200px;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #03ab03;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

